
<div class="alert alert-success alert-dismissible fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Success!</strong> You'r Registered successfully! Please go to your <a href="https://mail.google.com/mail/u/0/#inbox" class="alert-link" target="_blank">Email</a> and Prss the verify Button.
</div>