@using eCinemaMS.Models.ViewModels.AccountsViewModels;
@model LoginUserVM

<div class="alert alert-success alert-dismissible fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Success!</strong> Thank you! for the varification. Now you can <a asp-action="Login" class="alert-link">Login</a> your account.
</div>