@using eCinemaMS.Data.Enums
@using eCinemaMS.Models.ViewModels.MoviesViewModels
@model NewMovieVM

@{
    ViewData["Title"] = "Update Movie";
}

<div class="row">
    <div class="col-md-8 offset-2 offset-sm-2">
        <p>
            <h3>Update @Model.Name</h3>
        </p>
        @*<div class="row">
            <div class="col-md-8 offset-2">*@
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <label asp-for="Name" class="form-label"></label>
                                <input asp-for="Name" class="form-control"/>
                            </div>
                            <div>
                                <label asp-for="StartDate" class="form-label"></label>
                                <input asp-for="StartDate" type="date" class="form-control"/>
                            </div>
                            <div>
                                <label asp-for="EndDate" class="form-label"></label>
                                <input asp-for="EndDate" type="date" class="form-control"/>
                            </div>
                            <div>
                                <label asp-for="Duration" class="form-label"></label>
                                <input asp-for="Duration" class="form-control"/>
                            </div>
                            <div>
                                <label asp-for="ImageURL" class="form-label"></label>
                                <input asp-for="ImageURL" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label asp-for="CinemaId" class="form-label"></label>
                                <select asp-for="CinemaId" class="form-control" asp-items="ViewBag.Cinemas"></select>
                            </div>
                            <div>
                                <label asp-for="MovieCategory" class="form-label"></label>
                                <select asp-for="MovieCategory" class="form-control" asp-items="Html.GetEnumSelectList<MovieCategory>()"></select>
                            </div>
                            <div>
                                <label asp-for="ProducerId" class="form-label"></label>
                                <select asp-for="ProducerId" class="form-control" asp-items="ViewBag.Producers"></select>
                            </div>
                            <div>
                                <label asp-for="ActorIds" class="form-label"></label>
                                <select asp-for="ActorIds" class="form-control" asp-items="ViewBag.Actors" multiple="multiple"></select>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label asp-for="Description" class="form-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="ImagePreview" />
                    </div>
                    
                    <div class="form-control">
                        <input type="submit" value="Update" class="btn btn-outline-success float-end" />
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                    </div>

                </form>
            </div>
       @* </div>
    </div>*@
</div>